openapi: '3.0.0'
info:
  version: 1.0.0
  title: Stripe API
  license:
    name: MIT
servers:
  - url: https://api.stripe.com/v1
paths:
  /payments:
    get:
      summary: List payments
      description: Retrieves a paginated list of payment records processed through Stripe. Use the limit parameter to control page size.
      operationId: listPayments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of payments
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create payment
      operationId: createPayment
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /payments/{paymentId}:
    get:
      summary: Get payment details
      description: Retrieves detailed information about a specific payment by its unique identifier. Use this endpoint to inspect status, amount, and currency.
      operationId: showPaymentById
      parameters:
        - name: paymentId
          in: path
          required: true
          description: The id of the payment to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /refunds:
    get:
      summary: List refunds
      description: Retrieves a paginated list of refunds issued against processed payments. Use this endpoint to review refund activity and status.
      operationId: listRefunds
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of refunds
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refunds'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create refund
      operationId: createRefund
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions:
    get:
      summary: List subscriptions
      description: Retrieves a paginated list of customer subscriptions managed in Stripe Billing. Use this endpoint to monitor active, paused, and canceled subscriptions.
      operationId: listSubscriptions
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of subscriptions
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Payment:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Payments:
      type: array
      items:
        $ref: '#/components/schemas/Payment'
    Refund:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Refunds:
      type: array
      items:
        $ref: '#/components/schemas/Refund'
    Subscription:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Subscriptions:
      type: array
      items:
        $ref: '#/components/schemas/Subscription'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string