openapi: '3.0.0'
info:
  version: 1.0.0
  title: Vercel API
  license:
    name: MIT
servers:
  - url: https://api.vercel.com/v1
paths:
  /deployments:
    get:
      summary: List deployments
      operationId: listDeployments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of deployments
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create deployment
      operationId: createDeployment
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deployments/{deploymentId}:
    get:
      summary: Get deployment
      operationId: showDeploymentById
      parameters:
        - name: deploymentId
          in: path
          required: true
          description: The id of the deployment to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ai-gateway/models:
    get:
      summary: List models
      operationId: listModels
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of models
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Models'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create model access
      operationId: createModelAccess
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}:
    get:
      summary: Get project
      operationId: showProjectById
      parameters:
        - name: projectId
          in: path
          required: true
          description: The id of the project to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Deployment:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
    Deployments:
      type: array
      items:
        $ref: '#/components/schemas/Deployment'
    Model:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        provider:
          type: string
    Models:
      type: array
      items:
        $ref: '#/components/schemas/Model'
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        gitRepository:
          type: string
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string